.presentacion {
    display: flex;
    flex-direction: column;
    @include desktop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .presentacion_card {
        background-color: $colorblanco;
        @include desktop {
            width: 33%;
            border: solid 2px $color-secundario;
            margin: 50px 0px 50px 0px;
        }
        
        .presentacion_card_information{
            img {
                width: 35%;
                margin: 10px 10px auto;
                border-radius: 15px;
                @include ipad {
                    margin: 0px 20px auto;
                }
                @include desktop {
                    width: 45%;
                    margin: 20px 35px auto;
                }
                @include desktop_l {
                    width: 45%;
                }
            }
            h1 {
                width: 90%;
                font-size: 18px;
                color: $color-secundario;
                font-weight: 400;
                margin: 10px 10px auto;
                @include ipad {
                    font-size: 20px;
                    margin: 20px 20px auto;
                }
                @include desktop {
                    margin: 20px 35px auto;
                }
                @include desktop_l {
                    font-size: 26px;
                }
                span {
                    font-weight: bold;
                    font-size: 20px;
                    @include ipad {
                        font-size: 22px;
                    }
                    @include desktop_l {
                        font-size: 26px;
                    }
                }
            }
            p {
                @include p_mobile;
                color: #292929;
                margin: 10px 10px auto;
                @include ipad {
                    @include p_ipad;
                    margin: 20px 20px auto;
                    color: #292929;
                }
                @include desktop {
                    max-width: 60%;
                    margin: 10px 35px 40px 35px;
                }
                @include desktop_l {
                    font-size: 22px;
                }
            }
            button {
                @include botonmobile2;
                margin: 20px 90px auto;
                @include ipad {
                    @include boton_ipad;
                    margin: 20px 300px auto;
                }
                @include desktop {
                    @include boton_desktop;
                    margin: 0px 30px 0px 30px;
                }
                @include desktop_l {
                    @include boton_ipad;
                    font-size: 20px;
                }
                &:hover {
                    @include hoversecundario;
                }
            }
            
        }
    }
}

.noticias {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    @include desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .noticias_card {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-top: 30px;
        background-color: $color-primario;
        .noticias_card_header {
            @include desktop {
                display: flex;
                flex-direction: row;
                position: relative;
            }
            .noticias_card_header_span{
                padding: 5px;
                color: $color-primario;
                background-color: $colorblanco;
                font-weight: 400;
                font-size: 16px;
                width: 80%;
                margin-left: 20px;
                @include ipad {
                    font-size: 18px;
                    margin-left: 35px;
                }
                @include desktop {
                    display: none;
                }    
            }
            .noticias_card_header_texto{
                h1 {
                    width: 90%;
                    font-size: 18px;
                    color: $colorblanco;
                    font-weight: 400;
                    margin: 10px 20px auto;
                    @include ipad {
                        font-size: 20px;
                        margin: 20px 35px auto;
                    }
                    @include desktop {
                        padding-bottom: 10px;
                    }
                    @include desktop_l {
                        font-size: 26px;
                        margin-right: 250px;
                    }
                    span {
                        font-weight: bold;
                        font-size: 20px;
                        @include ipad {
                            font-size: 22px;
                        }
                        @include desktop_l {
                            font-size: 26px;
                        }
                    }
                }
            }
            .noticias_card_header_img {
                width: 85%;
                margin: 15px auto;
                border-radius: 15px;
                @include desktop {
                    width: 35%;
                    margin-left: 110px;
                }
                @include desktop_l {
                    width: 35%;
                    margin-right: 110px;
                }
            }
            .noticias_card_header_contenido {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    @include p_mobile;
                    color: $colorblanco;
                    margin-bottom: 15px;
                    @include ipad {
                        @include p_ipad;
                        color: $colorblanco;
                        margin: 20px 35px 40px 35px;
                    }
                    @include desktop {
                        position: absolute;
                        width: 35%;
                        left: 0%;
                        top: 20%;
                    }
                    @include desktop_l {
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .noticias_card:nth-child(2) {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-top: 30px;
        background-color: $colorblanco;
        .noticias_card_header {
            @include desktop {
                display: flex;
                flex-direction: row;
                position: relative;
            }
            .noticias_card_header_span{
                padding: 5px;
                color: $colorblanco;
                background-color: $color-primario;
                font-weight: 400;
                font-size: 16px;
                width: 80%;
                margin-left: 20px;
                @include ipad {
                    font-size: 18px;
                    margin-left: 35px;
                }
                @include desktop {
                    display: none;
                }    
            }
            .noticias_card_header_texto{
                h1 {
                    width: 90%;
                    font-size: 18px;
                    color: $color-secundario;
                    font-weight: 400;
                    margin: 10px 20px auto;
                    @include ipad {
                        font-size: 20px;
                        margin: 20px 35px auto;
                    }
                    @include desktop {
                        padding-bottom: 10px;
                    }
                    @include desktop_l {
                        font-size: 26px;
                        margin-right: 250px;
                    }
                    span {
                        font-weight: bold;
                        font-size: 20px;
                        @include ipad {
                            font-size: 22px;
                        }
                        @include desktop_l {
                            font-size: 26px;
                        }
                    }
                }
            }
            .noticias_card_header_img {
                width: 85%;
                margin: 15px auto;
                border-radius: 15px;
                @include desktop {
                    width: 35%;
                }
                @include desktop_l {
                    width: 35%;
                    margin-right: 110px;;
                }
            }
            .noticias_card_header_contenido {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    @include p_mobile;
                    color: #292929;
                    margin-bottom: 15px;
                    @include ipad {
                        @include p_ipad;
                        color: #292929;
                        margin: 20px 35px 40px 35px;
                    }
                    @include desktop {
                        position: absolute;
                        width: 35%;
                        left: 0%;
                        top: 20%;
                    }
                    @include desktop_l {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}